name: Run Pre Merge Actions

on:
  pull_request:
    branches: ['main']

  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0

      - name: Install Dependencies
        run: npm ci
      
      - name: Run lint
        run: npm lint

      - name: Run tests
        run: npm test